In [4]:
%matplotlib inline

# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import datetime 
import seaborn as sns

In [7]:
# setup file path
clipper_file = ".\Clipper Global Crude Full History.csv"

In [6]:
# read csv file
clipper_df = pd.read_csv(clipper_file, low_memory=False)
clipper_df.head(5)

FileNotFoundError: File b'./Clipper Global Crude Full History.csv' does not exist

In [5]:
# select only needed columns
clipper_df = clipper_df[['vessel_class',
 'load_date',
 'load_port',
 'load_country',
 'load_region',
 'load_area',
 'load_area_descr',
 'offtake_date',
 'offtake_port',
 'offtake_country',
 'offtake_region',
 'offtake_area',
 'offtake_area_descr',
 'bbls','vessel_dwt', 
 'distance_traveled', 
 'ton_miles']]
clipper_df.head(5)

,vessel_class,load_date,load_port,load_country,load_region,load_area,load_area_descr,offtake_date,offtake_port,offtake_country,offtake_region,offtake_area,offtake_area_descr,bbls,vessel_dwt,distance_traveled,ton_miles
0,Aframax,2015-05-09,SAO SEBASTIO,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,2016-03-15,ANGRA DOS REIS,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,623998,94143.0,1739.767799,1.555610e+08
1,FSO,2015-09-29,MINA AL FAHAL,OMAN,ARAB GULF,AG,Arab Gulf,2016-01-31,QINGDAO,CHINA,EAST ASIA,CH-N,China North,1996000,318757.0,5826.662802,1.604575e+09
2,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-15,CHIBA,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7028.726292,9.148161e+08
3,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-12,KAWASAKI,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7020.466892,9.137411e+08
4,VLCC,2015-10-02,RAS TANURA,SAUDI ARABIA,ARAB GULF,AG,Arab Gulf,2016-04-02,EL SEGUNDO,UNITED STATES,NORTH AMERICA,USWC,US West Coast,293000,320821.0,42144.060442,1.684756e+09

In [6]:
# convert datatype of the load date to datetime
clipper_df['load_date'] = pd.to_datetime(clipper_df['load_date'])

In [7]:
# convert datatype of the offtake date to datetime
clipper_df['offtake_date'] = pd.to_datetime(clipper_df['offtake_date'])

In [8]:
# check to see null values present in offtake, drop if true
clipper_df['offtake_area'].isnull().values.any()
clipper_df.dropna(how='any')
clipper_df.head(5)

,vessel_class,load_date,load_port,load_country,load_region,load_area,load_area_descr,offtake_date,offtake_port,offtake_country,offtake_region,offtake_area,offtake_area_descr,bbls,vessel_dwt,distance_traveled,ton_miles
0,Aframax,2015-05-09,SAO SEBASTIO,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,2016-03-15,ANGRA DOS REIS,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,623998,94143.0,1739.767799,1.555610e+08
1,FSO,2015-09-29,MINA AL FAHAL,OMAN,ARAB GULF,AG,Arab Gulf,2016-01-31,QINGDAO,CHINA,EAST ASIA,CH-N,China North,1996000,318757.0,5826.662802,1.604575e+09
2,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-15,CHIBA,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7028.726292,9.148161e+08
3,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-12,KAWASAKI,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7020.466892,9.137411e+08
4,VLCC,2015-10-02,RAS TANURA,SAUDI ARABIA,ARAB GULF,AG,Arab Gulf,2016-04-02,EL SEGUNDO,UNITED STATES,NORTH AMERICA,USWC,US West Coast,293000,320821.0,42144.060442,1.684756e+09

In [10]:
# grouby vessel class
clipper_nonull_df.groupby(['vessel_class'])
clipper_nonull_df.head(5)

,vessel_class,load_date,load_port,load_country,load_region,load_area,load_area_descr,offtake_date,offtake_port,offtake_country,offtake_region,offtake_area,offtake_area_descr,bbls,vessel_dwt,distance_traveled,ton_miles
0,Aframax,2015-05-09,SAO SEBASTIO,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,2016-03-15,ANGRA DOS REIS,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,623998,94143.0,1739.767799,1.555610e+08
1,FSO,2015-09-29,MINA AL FAHAL,OMAN,ARAB GULF,AG,Arab Gulf,2016-01-31,QINGDAO,CHINA,EAST ASIA,CH-N,China North,1996000,318757.0,5826.662802,1.604575e+09
2,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-15,CHIBA,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7028.726292,9.148161e+08
3,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-12,KAWASAKI,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7020.466892,9.137411e+08
4,VLCC,2015-10-02,RAS TANURA,SAUDI ARABIA,ARAB GULF,AG,Arab Gulf,2016-04-02,EL SEGUNDO,UNITED STATES,NORTH AMERICA,USWC,US West Coast,293000,320821.0,42144.060442,1.684756e+09

In [12]:
# add week, month, year columns
week = clipper_df['offtake_date'].dt.week
clipper_df['week'] = week

month = clipper_df['offtake_date'].dt.month
clipper_df['month'] = month

year = clipper_df['offtake_date'].dt.year
clipper_df['year'] = year

In [13]:
clipper_df.head()

,vessel_class,load_date,load_port,load_country,load_region,load_area,load_area_descr,offtake_date,offtake_port,offtake_country,offtake_region,offtake_area,offtake_area_descr,bbls,vessel_dwt,distance_traveled,ton_miles,week,month,year
0,Aframax,2015-05-09,SAO SEBASTIO,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,2016-03-15,ANGRA DOS REIS,BRAZIL,LATIN AMERICA,ECSA,East Coast South America,623998,94143.0,1739.767799,1.555610e+08,11,3,2016
1,FSO,2015-09-29,MINA AL FAHAL,OMAN,ARAB GULF,AG,Arab Gulf,2016-01-31,QINGDAO,CHINA,EAST ASIA,CH-N,China North,1996000,318757.0,5826.662802,1.604575e+09,4,1,2016
2,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-15,CHIBA,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7028.726292,9.148161e+08,2,1,2016
3,VLCC,2015-10-01,DAS,UNITED ARAB EMIRATES,ARAB GULF,AG,Arab Gulf,2016-01-12,KAWASAKI,JAPAN,EAST ASIA,JPN,Japan,987500,304732.0,7020.466892,9.137411e+08,2,1,2016
4,VLCC,2015-10-02,RAS TANURA,SAUDI ARABIA,ARAB GULF,AG,Arab Gulf,2016-04-02,EL SEGUNDO,UNITED STATES,NORTH AMERICA,USWC,US West Coast,293000,320821.0,42144.060442,1.684756e+09,13,4,2016